sway/outputs
sway/workspaces

# all Electron-based Apps
Min/
Code/
Electron/
oblivion-desktop/
obsidian/
FreeTube/
cattr/
Popcorn-Time/
Bitwarden/

btop/btop.log
nvim/lazy-lock.json
QtProject.conf
Thunar/accels.scm
Webcamoid/
calibre/
chromium/
dconf/
fish/completions/
fish/fish_variables
fontforge/
go/
gtk-3.0/
gtk-4.0/
htop/
inkscape/
lxsession-default-apps/
lxsession/
marktext/
mimeapps.list
nekoray/
pavucontrol.ini
pulse/
smplayer/
tlpui/
transmission/
xfce4/
xsettingsd/
